<% include ../partials/header %>
<% include ../loader/transLoad %>
<% include ../partials/navbar %>
<div class="container page-content-container">
    <div class="container page-content-container">
        <h1>New project</h1>
        <form action="/admin/icons" method="POST">
            <% include ../forms/newIcon %>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Add</button>
        </form>
    </div>
</div>


<script src="/scripts/transloader.js"></script>
<% include ../partials/footer %>