<% include ../partials/header %>
<% include ../loader/transLoad %>
<% include ../partials/navbar %>
<div class="container page-content-container">
    <% include ../user/panel %>
    <h2 class="text-light">NEW PROJECT</h2>
    <form action="/user/<%= user.id %>/projects" method="POST">
        <% include ../forms/newProject %>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Add</button>
    </form>
</div>
<script src="/scripts/transloader.js"></script>
<script src="/scripts/admin_controls.js"></script>
<% include ../partials/footer %>