<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler bg-dark text-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-light" href="/"><i class="fas fa-cat brand-logo"></i><span class="brand-text">Idan Izhaki</span></a>
        <div class="collapse navbar-collapse text-light" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-light">
                <li class="nav-item">
                    <a class="nav-link text-light" href="/profile/1/projects"><i class="fas fa-network-wired menu-icon"></i><span class="btn-text">Projects</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/profile/1/cv"><i class="fas fa-newspaper menu-icon"></i><span class="btn-text">CV</span></a>
                </li>
            </ul>
            <!-- PWA INSTALL BUTTON -->
            <li id="install-btn-wrapper"></li>
            
        </div>
        </nav>
        