<% include ../partials/header %>
<% include ../loader/transLoad %>
<% include ../partials/navbar %>
<div class="container page-content-container">
    <% include ../admin/panel %>
    <h2>ALL JOBS</h2>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">All Jobs</a>
        <% jobs.forEach((job)=>{ %>
            <a href="/admin/jobs/<%= job.id %>/edit" class="list-group-item list-group-item-action"><%- job.title %></a>
        <% }); %>
    </div>
</div>
<script src="/scripts/transloader.js"></script>
<% include ../partials/footer %>