<% include ../partials/header %>
<% include ../loader/transLoad %>
<% include ../partials/navbar %>
<div class="container page-content-container">
    <% include ../user/panel %>
    <a href="/user/<%=loggedUser.id %>/jobs/new" class="btn btn-info grit">Add Job</a>
    <h5 class="user-projects-title bg-light">
        <strong>All Jobs:</strong>
    </h5>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">All Jobs</a>
        <% jobs.forEach((job)=>{ %>
            <a href="/user/<%= loggedUser.id %>/jobs/<%= job.id %>/edit" class="list-group-item list-group-item-action"><%- job.title %></a>
            <% }); %>
        </div>
    </div>
    <% include ../partials/footer %>