:root{
    --bgPrimary: ##fff;
    --bgSecondary: #343a40;
    --textPrimary: #343a40;
    --textSecondary: #fff;
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

body{
    color: var(--textPrimary);
    height: 100%;
}
.fluid-container{
    height: 94vh;
}
.row1{
    height: 100%;
}
/* .row2{
    height:100%;
} */
.secondery-carousel-col{
    height: 50vh;
}
.profile-car-img{
    height: 100%;
    width: 100%;
}
img{
    width: 100%;
    height: 100%;
}
.img-wrapper{
    height: 20vh;
    background-image: url('/images/profile.jpg');
    background-position: center;
    filter: grayscale();
    transition: 0.8s ease-in-out;
}
.img-wrapper:hover{
    filter: grayscale(0)
}
.hide{
    opacity: 0;
}

#carouselExampleIndicators{
    height: 100%;
}
#carouselExampleFade{
    height: 100%;
}
.carousel-inner{
    height: 100%;
}

.carousel-item{
    height: 100%;
}
.carousel-caption{
    background: #343a4091;
}
/* CSS LOADER */
.load-wrapper{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #3e3e3e;
    z-index: 500;
    transition: 0.8s ease-in-out;
}
.trans-load-wrapper{
    display: block;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 40vh;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 500;
    transition: 1s ease-in-out;
}
.loader{
    position: relative;
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #3498db;
    border-radius: 50%;
    margin: auto;
    animation: spin infinite 1s linear;
}

@keyframes spin{
    0% {transform: rotate(0deg)}
    100% { transform: rotate(180deg)}
}
.admin-login{
    padding: 2vh 2vw;
    margin-top: 3vh;
}

.fas {
    width: fit-content;
    text-align: center;
    font-size: 1.2em;
    margin-right: 1vw;
}

.fa-paw {
    font-size: large; 
}
.social-link{
    color: #ccc;
}
.menu-title{
    width: 100%;
    margin-left: 0vw;
    text-align: center;
}
.menu-icon{
    margin-left: 1vw;
    min-width: 4vw;
    /* width: 5vw; */
    border-left: 1px solid;
}
.social-icon{
    font-size: 1.5em;
    margin: 0vh 2vw;
}

.img-bg{
    background: var(--textPrimary);
}


.contact-list{
    list-style: none;
    padding: 0;
}
.details-list{
    list-style: none;
    padding: 0;
}
.social-link{
    display: block;
    font-size: 1.2em;
    margin-top: 1vh;
}

.social-link:hover{
    text-decoration: none;
    color: #3498db;
}

.homepage-cards{
    border: none;
    height: 100%;
}
.card-body{
    height: 100%;
    background: var(--bgSecondary);
}
.card-text{
    margin: 0;
    
}

@keyframes blink {
    0% { color: black;opacity: 1;}
    50% {color: #f8f9fa;opacity: 0;}

}

.typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 1px solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin: 0 auto; Gives that scrolling effect as the typing happens */
    letter-spacing: .25em; /* Adjust as needed */
    animation: 
    typing 2.5s steps(20, end),
    blink-caret .75s step-end 2.5s;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: black }
    50% { border-color: transparent; }
}
.projects-grid{
    margin-top: 2vh;
}
.project-grid-img{
    height: 30vh;
    width: 100%;
    border-radius: 0;
}

.project-card{ 
    border: none;
    border-radius: 0;
}
.project-card-text{
    height: 20vh;
    overflow: hidden;
}

.project-card-title{
    width: max-content;
    opacity: 0.9;
    padding: 1vh;
}