:root{
    --bgPrimary: ##fff;
    --textPrimary: #343a40;
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--bgPrimary);
    color: var(--textPrimary);
}
