:root{
    --bgPrimary: ##fff;
    --bgSecondary: #343a40;
    --textPrimary: #343a40;
    --textSecondary: #fff;
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

body{
    color: var(--textPrimary);
    width: 100%;
    background: var(--bgSecondary);
    overflow-x: hidden;
    overflow-y: auto;
}
.navbar.navbar-expand-lg.navbar-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: ease-in-out 0.6s;
}
.navbar.navbar-expand-lg.navbar-dark:hover{
    background: #343a40a6;
}
.nav-container{
    margin-bottom: 6vh;
}
.home-fluid-con{
    height: 100vh;
}
.row1{
    min-height: fit-content;
    height: 100vh;
}
.secondery-carousel-col{
    height: 50vh;
}
.profile-car-img{
    height: 100%;
    width: 100%;
}
.contact-col{
    padding: 0;
}
.contact-form{
    padding: 2vh;
}
img{
    width: 100%;
    height: 100%;
}
.img-wrapper{
    height: 20vh;
    background-image: url('/images/profile.jpg');
    background-position: center;
    filter: grayscale();
    transition: 0.8s ease-in-out;
}
.img-wrapper:hover{
    filter: grayscale(0)
}
.hide{
    opacity: 0;
}
.btn-back{
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: start;
    font-size: 1.3em;
    text-align: center;
    border-radius: 0;
}
.contact-col{
    position: relative;
    /* z-index: 600; */
    width: 100%;
}
.typer{
    min-height: 6vh;
    padding: 1vh;
    /* font-size: 1em; */
    display: flex;
    line-height: 2.2;
}
.paw-icon{
    font-size: 1.5rem;
}
.back-icon{
    height: 100%;
    width: 100%;
    font-size: 1.5em;
}
#carouselExampleIndicators{
    height: 100%;
}
#carouselExampleFade{
    height: 100%;
}
.carousel-inner{
    height: 100%;
}

.carousel-item{
    height: 100%;
}
.carousel-caption{
    background: #343a4091;
}
/* CSS LOADER */
.load-wrapper{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #3e3e3e;
    z-index: 500;
    transition: 0.8s ease-in-out;
}
.trans-load-wrapper{
    display: block;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 40vh;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 500;
    transition: 1s ease-in-out;
}
.loader{
    position: relative;
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #3498db;
    border-radius: 50%;
    margin: auto;
    animation: spin infinite 1s linear;
}

@keyframes spin{
    0% {transform: rotate(0deg)}
    100% { transform: rotate(180deg)}
}
.admin-login{
    padding: 2vh 2vw;
    margin-top: 3vh;
}

.fas {
    width: fit-content;
    text-align: center;
    font-size: 1.6rem;
    margin-right: 1vw;
}
.social-li{
    width: fit-content;
}
.social-link{
    color: #ccc;
    transition: 0.6s ease-in-out;
}
.menu-title{
    width: 100%;
    margin-left: 0vw;
    text-align: center;
}
.menu-icon{
    margin-left: 1vw;
    min-width: 4vw;
    border-left: 1px solid;
}
.social-icon{
    font-size: 1.5em;
    margin: 0vh 2vw;
}

.img-bg{
    background: var(--textPrimary);
}


.contact-list{
    list-style: none;
    padding: 0;
}
.details-list{
    list-style: none;
    padding: 0;
}
.social-link{
    display: block;
    font-size: 1.2em;
    margin-top: 1vh;
}

.social-link:hover{
    text-decoration: none;
    color: #3498db;
}

.homepage-cards{
    border: none;
    height: 100%;
}
.card-body{
    height: 100%;
    background: var(--bgSecondary);
}
.card-text{
    margin: 0;
    
}

@keyframes blink {
    0% { color: black;opacity: 1;}
    50% {color: #f8f9fa;opacity: 0;}
    
}

.typewriter{
    height: 100%;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 1px solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin: 0 auto; Gives that scrolling effect as the typing happens */
    letter-spacing: .25em; /* Adjust as needed */
    animation: 
    typing 2.5s steps(20, end),
    blink-caret .75s step-end 2.5s;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: black }
    50% { border-color: transparent; }
}

.page-content-container{
    margin-top: 8vh;
}
.projects-grid{
    margin-top: 2vh;
}
.projects-row{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 1vh 0 1vh 0;
}
.project-col{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.project-grid-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 170px;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--textPrimary);
}

.project-card{ 
    display: flex;
    width: 300px;
    min-height: 370px;
    max-height: 370px;
    background: #202225;
}
.project-card-text{
    max-width: 100%;
    width: max-content;
    overflow: hidden;
    opacity: 1;
}

.project-card-title{
    max-width: 100%;
    width: max-content;
    opacity: 1;
}

.card-img-overlay{
    padding: 0;
    background: transparent;
    transition: ease-in-out 0.3s;
}
.card-img-overlay:hover {
    background: #2323233b;
}

.project-card-body{
    background: #202225;
    padding: 5px;
    height: 200px;
}
.card-body-content{
    height: 80%;
}
.card-body-footer{
    height: 20%;
    display: flex;
    font-size: 2em;
    justify-content: flex-end;
}
.feature-item:hover .delete-feature-icon{
    width: 15px;
    opacity: 1;
    transition: 0.7s ease-in;
}

.delete-feature-icon{
    position: relative;
    cursor: pointer;
    width: 0;
    opacity: 0;
}
.project-content-container{
    background-color: var(--textSecondary);
    min-height: 30vh;
    padding: 1vw;
}
.project-description-row{
    margin-bottom: 2vh;
}
.project-features-container{
    margin-top: 3vh;
}
.project-features{
    margin-bottom: 1vh;
}
.project-top-header{
    margin-bottom: 2vh;
}
.project-banner{
    display: flex;
    justify-content: center;
    height: 40vh;
    width: 100%;
    background: #202225;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.controls-row{
    border-top: 1px solid #202225;
    border-bottom: 1px solid #202225;
}
.project-link{
    height: 100%;
    position: relative;
    width: auto;
    font-size: 2em;
    text-align: center;
    text-decoration: none !important;
    margin: auto;
    transition: 0.4s ease-in;
    color: var(--bgSecondary);
}
.project-link:hover{
    color: #3498db;
}
.social-link-icon{
    margin: auto 1vw auto auto;
    height: 100%;
}
.features-title{
    margin: 0;
}
@media only screen and (max-width: 1200px) {
    .project-card{
        min-width: 100%;
    }
}