<div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text text-light bg-dark" id="basic-addon1">Title:</span>
        </div>
        <input name="title" type="text" class="form-control" placeholder="" aria-label="Title"
        aria-describedby="basic-addon1" value="<%=tech.title%>" autofocus required>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text text-light bg-dark" id="basic-addon1">Image:</span>
        </div>
        <input name="img" type="text" class="form-control" placeholder="Image url" aria-label="Image url"
        aria-describedby="basic-addon1" value="<%= tech.img %>">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text text-light bg-dark" id="basic-addon1">Link:</span>
        </div>
        <input name="link" type="text" class="form-control" placeholder="link to Technology" aria-label="Tech Link"
        aria-describedby="basic-addon1" value="<%=tech.link %>">
    </div>
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
    