<div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text text-light bg-dark" id="basic-addon1">Title:</span>
        </div>
        <input name="title" type="text" class="form-control" placeholder="" aria-label="Title"
        aria-describedby="basic-addon1" value="" autofocus required>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text text-light bg-dark" id="basic-addon1">Code:</span>
        </div>
        <input name="code" type="text" class="form-control" placeholder="" aria-label="icon code"
        aria-describedby="basic-addon1" value="">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text text-light bg-dark" id="basic-addon1">Phrase:</span>
        </div>
        <input name="phrase" type="text" class="form-control" placeholder="" aria-label="icon phrase"
        aria-describedby="basic-addon1" value="">
    </div>
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
    