<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text text-light bg-dark" id="basic-addon1">Title:</span>
    </div>
    <input name="title" type="text" class="form-control" placeholder="" aria-label="Title"
    aria-describedby="basic-addon1" value="" autofocus required>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text text-light bg-dark" id="basic-addon1">Description:</span>
    </div>
    <input name="description" type="text" class="form-control" placeholder="" aria-label="Description"
    aria-describedby="basic-addon1" value="">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text text-light bg-dark" id="basic-addon1">Company:</span>
    </div>
    <input name="company" type="text" class="form-control" placeholder="" aria-label="Company"
    aria-describedby="basic-addon1" value="">
</div>
<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text text-light bg-dark" id="basic-addon1">Start:</span>
            </div>
            <input name="startDate" type="date" class="form-control" placeholder="" aria-label="Start"
            aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text text-light bg-dark" id="basic-addon1">End:</span>
            </div>
            <input name="endDate" type="date" class="form-control" placeholder="" aria-label="End"
            aria-describedby="basic-addon1">
        </div>
    </div>
</div>
<h5 class="text-light">Content</h5>
<div class="form-group">
    <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="About the project"></textarea>
</div>