<div class="input-group-block project-features">
    <ul id="feature-list" class="list-group">
<% if (user.skills) { %>
    <% user.skills.forEach((item)=>{ %>
        <div class="input-group mb-3 input-group-block">
            <div class="input-group-prepend">
                <span class="input-group-text text-light bg-dark" id="basic-addon1">
                    <i class="fas fa-trash delete-feature-icon text-danger"></i></span>
                </div><li class="list-group-item user-feature-item">
                    <input class="form-control feature-input" type="text" value="<%- item %>">
                </li>
            </div>
    <% }) %>

<% } %>
    </ul>  
</div>

<div class="input-group mb-3">
    <input class="form-control" type="text" name="" id="add-feature-input">
    <div class="input-group-append">
        <button class="btn btn-info" id="add-feature">ADD</button>
    </div>        
    <input id="featuresInput" name="features" type="hidden" name="features" value="<% if( user.skills ) { user.skills.forEach((feat)=>{ %><%- feat %>;<% })} %>">
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
</div>