<% include ./partials/header %>
<% include ./partials/navbar %>
<div class="container page-404-container">
    <div class="content-404">
        <h4 class="text-light">Ho, are you lost?</h4>
        <a href="/" class="btn btn-danger btn-large btn-block bold">HELP<i class="fas fa-exclamation card-body-footer-icon"></i></a>
    </div>
</div>
<% include ./partials/footer %>