<% include ./partials/header %>
<% include ./loader/load %>
<div class="fluid-container home-fluid-con">
    <div class="row row1 no-gutters">
        <div class="col-md-6 col-lg-7 col-xl-8">
            <% include ./partials/navbar %>
            <div class="card homepage-cards bg-dark">
                <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="profile/1/projects?category=Web+Development">
                                <img class="d-block w-100" src="images/webdev.jpg" alt="Web Development" draggable="false">
                                <div class="carousel-caption">
                                    <h5>Web Development</h5>
                                    <p>Full Stack NodeJS & Python</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="profile/1/projects?category=Sound+Design">
                                <img class="d-block w-100" src="images/sound.jpg" alt="Sound Design" draggable="false">
                                <div class="carousel-caption">
                                    <h5>Sound Design</h5>
                                    <p>Pro Audio Specialist, Post Production</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="profile/1/projects?category=E-Commerce">
                                <img class="d-block w-100" src="images/ecommerce.jpg" alt="E-Commrece" draggable="false">
                                
                                <div class="carousel-caption">
                                    <h5>E-Commerce</h5>
                                    <p>Marketing, Technical Translations, SEO</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">
            <div class="card homepage-cards contact-col">
                <div class="message-wrapper message-wrapper-nav">
                    <h5 class="card-header typer">
                        <% if (messages.failure) { %>
                            <div class="typewriter text-danger">
                                <%= messages.failure %>
                            </div>
                            <% } else { %>
                                <div class="typewriter">
                                    Hi, Nice to meet you :)
                                </div>
                                <% } %>
                            </h5>
                        </div>
                        <div class="card-body bg-dark text-light">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 contact-col">
                                    <div class="container">
                                        <ul class="contact-list">
                                            <li class="social-li"><a class="social-link text-success" href="/profile/1/cv"><i class="fas fa-newspaper social-icon"></i>MY CV</a></li>
                                            <li class="social-li text-success"><a rel="noreferrer" class="social-link" href="mailto:izhaki.idan@gmail.com"><i class="fas fa-envelope-open social-icon"></i>E-Mail</a></li>
                                            <li class="social-li"><a rel="noreferrer" class="social-link" href="tel:+972526773370"><i class="fas fa-phone social-icon"></i>Phone</a></li>
                                            <li class="social-li"><a rel="noreferrer" target="_blank" class="social-link" href="https://www.facebook.com/izhaki.idan"><i class="fab fa-facebook-messenger social-icon"></i>Messenger</a></li>
                                            <li class="social-li"><a rel="noreferrer" target="_blank" class="social-link" href="https://github.com/CannonFodderr"><i class="fab fa-github-square social-icon"></i>GitHub</a></li>
                                            <li class="social-li"><a rel="noreferrer" target="_blank" class="social-link" href="https://www.instagram.com/idanizhaki"><i class="fab fa-instagram social-icon"></i>Instagram</a></li>
                                            <li class="social-li"><a rel="noreferrer" target="_blank" class="social-link" href="https://discordapp.com/users/131703957260206080"><i class="fab fa-discord social-icon"></i>Discord</a></li>
                                            <li class="social-li"><a rel="noreferrer" target="_blank" class="social-link" href="https://www.linkedin.com/in/idan-izhaki/"><i class="fab fa-linkedin social-icon"></i>Linkedin</a></li>
                                        </ul>
                                    </div>
                                    
                                </div>
                                <div class="col-lg-12 col-md-12 contact-col">
                                    <button class="btn btn-danger btn-block grit" type="button" data-toggle="collapse" data-target="#contactCollapse" aria-expanded="false" aria-controls="collapseExample">
                                        Contact ME
                                    </button>
                                    <div class="collapse" id="contactCollapse">
                                        <p class="card-text">
                                            <form class="contact-form" action="/" method="post">
                                                <% include forms/message %>
                                                <button class="btn btn-danger btn-lg btn-block send-form-btn" type="submit"><i class="fas fa-paw paw-icon"></i><span class="btn-text">Send</span></button>
                                            </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-dark contact-col-footer">
                            <% if(user) { %>
                                <div class="row text-center">
                                    <div class="col">
                                        <a class="text-light" href="/user/<%= user.id %>"><i class="fas fa-user"></i><span class="btn-text">YOUR PROFILE</span></a>
                                    </div>
                                    <div class="col">
                                        <a class="text-light" href="/logout"><i class="fas fa-sign-out-alt"></i><span class="btn-text">LOGOUT</span></a>
                                    </div>
                                </div>
                                <% } else { %>
                                    <div class="row text-center">
                                        <div class="col-12">
                                            <a href="/register" class="btn btn-success btn-block grit">GET YOUR OWN CV</a>
                                            
                                        </div>
                                        <div class="col-12">
                                            
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <% include ./partials/footer %>