<% include ../partials/header %>
<% include ../loader/transLoad %>
<% include ../partials/navbar %>

<div class="container page-content-container">
    <% include panel %>
    <div class="card bg-light mb-3 admin-login">
        <h1>Edit
            <%= user.username %> Profile:</h1>
        <form action="/user/<%= user.id %>/?_method=PUT" method="POST">
            <% include ../forms/adminEdit %>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
        </form>
        <a class="btn brand-login-button google" href="/login/google">
            <img class="signin-logo" src="/images/logos/g-logo.png" alt="Google sign in logo">
            Sign in with google
        </a>
    </div>
</div>
<% include ../partials/footer %>