<% include ../partials/header %>
<% include ../loader/transLoad %>
<% include ../partials/navbar %>

<div class="container page-content-container">
    <div class="card bg-light mb-3 user-login">
            <div class="message-wrapper message-wrapper-nav">
                    <h5 class="card-header typer">
                        <% if (messages.failure) { %>
                            <div class="typewriter text-danger">
                                <%= messages.failure %>
                            </div>
                            <% } else { %>
                                <div class="typewriter">
                                        <h2><%= title.toUpperCase() %></h2>
                                </div>
                                <% } %>
                            </h5>
                        </div>
        <!-- <h1><%= title.toUpperCase() %></h1> -->
        <form action="/register" method="POST">
            <% include ../forms/newProfile %>
            <div class="text-center">
                <button class="btn btn-danger btn-lg grit" type="submit">Submit</button>
            </div>
        </form>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h4 class="gap">OR</h4>
                </div>
            </div>
            
        </div>
        <a class="btn brand-login-button google" href="/login/google">
            <img class="signin-logo" src="images/logos/g-logo.png" alt="Google sign in logo">
            Sign in with google
        </a>
        <a class="" href="/login/facebook" style="width: 200px;margin: 1vh auto;">
            <img class="" src="images/logos/fb-login.png" alt="Facebook sign in logo" width="200px">
        </a>
        <hr>
        <div class="text-center">
            <button class="cv-controls-btn btn-lg btn-outline-dark grit" type="button grit" data-toggle="collapse" data-target="#contactCollapse" aria-expanded="false" aria-controls="contactCollapse">
                Already a user?
            </button>
        </div>
        <div class="collapse" id="contactCollapse">
            <div class="card card-body bg-light">
                <h2 class="text-dark">LOGIN</h2>
                <form action="/login" method="POST">
                    <% include ../forms/userLogin %>
                    <div class="text-center">
                        <button class="btn btn-primary btn-lg grit" type="submit">GO!</button>
                    </div>
                </form>
                
            </div>
        </div>
        
        
    </div>
    
</div>
<% include ../partials/footer %>