<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container page-content-container">
    <% include panel %>
    <div class="card bg-light mb-3 admin-login">
        <form action="/user/<%= loggedUser.id %>/skills?_method=PUT" method="POST">
            <% include ../forms/skillsEdit %>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
        </form>
    </div>
</div>
<script src="/scripts/user_controls.js"></script>
<% include ../partials/footer %>