<% include ../partials/header %>
<% include ../partials/navbar %>
<div class="container page-content-container">
    <div class="card bg-light mb-3 user-login">
        <h5 class="card-title">Login</h5>
        <form action="/login" method="POST">
            <% include ../forms/userLogin %>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
        </form>
            <a class="btn brand-login-button google" href="/login/google">
                <img class="signin-logo" src="images/logos/g-logo.png" alt="Google sign in logo">
                Sign in with google
            </a>
            <a class="" href="/login/facebook" style="width: 200px;margin: 1vh auto;">
                <img class="" src="images/logos/fb-login.png" alt="Facebook sign in logo" width="200px">
            </a>
    </div>
</div>
<% include ../partials/footer %>