<% include ../partials/header %>
<% include ../loader/transLoad %>
<% include ../partials/navbar %>
<div class="container page-content-container">
    <% include ../admin/panel %>
    <h2>New project</h2>
    <form action="/admin/tech" method="POST">
        <% include ../forms/newTech %>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Add</button>
    </form>
</div>


<script src="/scripts/transloader.js"></script>
<% include ../partials/footer %>